<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Architectures.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CLEAN.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MVC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MVP.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MVVM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VIPER.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>776E80BF2D1E998D001A7FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E884502D15771F00133F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E884652D15772000133F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F886272D1547EF0078C5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F886752D15487B0078C5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F8868A2D15487C0078C5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F887732D154BF10078C5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77F887882D154BF20078C5CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
